[MESSAGES CONTROL]

disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    missing-final-newline,
    invalid-name,
    unused-import,
    pointless-string-statement,
    useless-else-on-loop,
    superfluous-parens,
    trailing-whitespace,
    line-too-long,
    trailing-newlines,
    multiple-statements,
    inconsistent-quotes,
    implicit-str-concat,
    consider-using-f-string,
    use-implicit-booleaness-not-comparison-to-zero,
    unused-variable,
    redefined-outer-name,
    global-statement,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-return-statements,
    too-many-nested-blocks,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-ancestors,
    wildcard-import,
    unused-argument,
    redefined-builtin,
    bare-except,
    broad-except,
    unused-wildcard-import,
    duplicate-code,
    too-many-lines,
    use-dict-literal,
    use-list-literal,
    consider-using-dict-comprehension,
    consider-using-set-comprehension,
    consider-using-generator,
    consider-using-enumerate,
    consider-using-with,
    consider-using-join

enable=all
